body{
    width: 60%;
    background-color: aquamarine;
    margin: auto;
}
.taskItem{
    border: 1px solid rebeccapurple;
    display: flex;
}
.taskItem > button{
    border: 2px solid red;
    width: auto;
    margin-right: 1px;
}
.taskItem > li{
    border: 2px solid brown;
    width: 100%;
}
h1{
    text-align: center;
}
.show{
    display: flex;
    justify-content: space-around;
    margin: 1%;
}
#errMsg{
    color: red;
}
.unshow{
    display: none;
    justify-content: space-around;
    margin: 1%;
}
input{
    height: 24px;
    width: 100%;
}
button{
    width: 30%;
}

@media screen and (max-width < 600px) {
    body{
        border: 3px solid brown;
    }
}
